.appointment-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  background-color: white;
  border-radius: 8px;
}

.appointment-form form {
  display: flex;
  flex-direction: column;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-input label {
  font-size: 1em;
  margin-bottom: 5px;
  color: #333;
}

.form-input input, .form-input select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
}

.submit-button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}
