.loginContainer {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.inputContainer {
  margin-bottom: 20px;
}

.inputContainer label {
  display: block;
  margin-bottom: 10px;
}

.inputContainer input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
